<h2 mat-dialog-title>
    {{ (data?.id ? 'createEventDialog.titleEdit' : 'createEventDialog.titleNew') | translate }}
</h2>

<mat-dialog-content>
    <app-calendar-event-form #eventForm [initialValue]="data?.initialValue || null" />
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close>{{ 'common.actions.cancel' | translate }}</button>
    <button mat-flat-button type="button" (click)="saveEvent(eventForm)">
        {{ (data?.id ? 'createEventDialog.actions.update' : 'createEventDialog.actions.create') | translate }}
    </button>
</mat-dialog-actions>
