<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
    <dl class="event-details">
        <div>
            <dt>{{ 'eventDialog.fields.id' | translate }}</dt>
            <dd>{{ data.id }}</dd>
        </div>

        <div>
            <dt>{{ 'eventDialog.fields.starts' | translate }}</dt>
            <dd>{{ data.start | date: "medium" }}</dd>
        </div>

        @if (data.end) {
            <div>
                <dt>{{ 'eventDialog.fields.ends' | translate }}</dt>
                <dd>{{ data.end | date: "medium" }}</dd>
            </div>
        }
    </dl>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ 'common.actions.close' | translate }}</button>
</mat-dialog-actions>
